@import "tailwindcss";

/* body.light {
color: black;
background-color: white;
transition: all 0.3s ease;
}
body.dark{
    color: white;
    background-color: black;
    transition: all 0.3s ease;

}
.container{
    text-align: center;
    margin-top: 100px;
}

button{
    padding: 10px 20px ;
    cursor: pointer;
} */

:root{
    --bg:white,
    --text:black,
}

[Data-theme="dark"]{
    color: white;
    background-color: black;
}

[Data-theme="blue"]{
    color:rosybrown;
    background-color: blue;
}

body{
    color: var(--text);
    background-color: var(--bg); 
    transition: all 0.3s ease;
}