@import "tailwindcss";

/* body.light {
color: black;
background-color: white;
transition: all 0.3s ease;
}
body.dark{
    color: white;
    background-color: black;
    transition: all 0.3s ease;

}
.container{
    text-align: center;
    margin-top: 100px;
}

button{
    padding: 10px 20px ;
    cursor: pointer;
} */